body {
	background-image: url('./img/fondoprincipal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#tituloHeader {
	background-color: #00afef;
}

#fondoTitulo {
	background: #1c5080;
}

#btnIngreso {
	color: rgb(232, 219, 219); 
    font-weight: 400;
}

#btnIngreso:hover {
    color: #ffffff;
}

#convocadosDiv .card-body {
	padding: 15px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
		url('./img/pattern1.jpg');
	size: contain;
	background-position: center center;
	border: none !important;
}

.columnas {
	column-count: 3 !important;
	padding-left: 0px;
	margin: 0px;
}

.add {
	position: relative;
}



.add h5::after {
	position: absolute;
	content: ' ✅';
	left: 145%;
}

.add li {
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}



.add li:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 530%;
	width: 160%;
	transition: all 0.5s ease-in-out;
}

.add li:after {
    /* #0B479E;  */
	background: #00AFEF; 
	transform: translate(-98%, -25%) rotate(45deg);
}

.add:hover li:after {
	transform: translate(-8%, -30%) rotate(45deg);
	z-index: 1;
}

.card-img-top {
	position: relative;
	top: -2px;
	height: 8.2em !important;
	object-fit: fill !important;
}

@media (max-width: 900px) {
	.columnas {
		column-count: 1 !important;
		padding-left: 0px;
		margin: 0px;
	}
}

/* .botonRegistro {
    float:right;
    position: absolute;
    margin-top:-36px;
    margin-right: 400px;
    width: 50px;
}


.registroUsuario {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 30px;
    width: 155px;
    
   
}

.registroUsuario a {
    text-decoration: none;
    color: white;
    font-size: 13px;
 
}


.ingreseUsuario {
    text-align: right;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 12px;
    padding-top: 12px ;
    font-size: smaller;
    font-style: italic;
   
}



.inicioSesion {
    background-color: #1C5080;
    align-items: flex-end;
    color: white;
    float: right;
    border-radius: 5px;
    border-style:groove;
    border-color: #05a3d3;
    margin: 5px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 3px;
    vertical-align: bottom;
}

.inicioSesion a {
        text-decoration: none;
        color: white;
        font-size: 13px;
    
    }




.fondoEncabezado {
    
    width: 1400px;
    height: 100px;
    border: 0px solid rgb(76, 209, 233);
    padding: 20px;
    margin: 0 auto;
    text-align:center;
  }
  

  
  .botonRegistro {
    width: 150px;
    height: 30px;
    text-size-adjust: 100px 15px;
    vertical-align: text-bottom
  }
   


#btnConvocados:hover{
    background-color:#05a3d3;

}

#btnConvocados {
    background-color:#1C5080 ; 
    border:  none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 265px ;
    margin-top: 5px;
    margin-left: 5px;
       
    
  }
 
 

  #botonTitulares {
    background-color:#1C5080 ; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: adidas 2014wc;
    width: 265px;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;

 }

 #botonTitulares:hover {
    background-color: #05a3d3;
 }



#listaTitulares {
    font-size: medium;
    margin-left: 10px;
    
}

#listaTitulares li {
    margin-left: 20px;
    
}

.referenciaSuplente{
    color: red;
    margin-top: 3px;
    margin-left: 20px;
    padding-bottom: 0px;
    font-style: italic;
    font-size: small;

}

#botonFechas {
    background-color:#1C5080 ; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 265px;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;

 }

 #botonFechas:hover {
    background-color: #05a3d3;
 }



#listaFechas {
    font-size:mediums;
    margin-left: 10px;


}

.horaArg {
    font-size: medium;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-stretch: extra-condensed;
    margin-bottom: 2px;
    background-color: #1C5080;

}

.infoEstadios {
    font-size: small;
    text-align: center;
    margin-bottom: 2px;

}


.logoPoli {

    object-position: right;
    width:70px;
    height:40px;
    padding: 2px;
    margin-bottom: 7px;

}


  footer {
    background-color: #1C5080;
    text-align: center;
    font-style: italic;
    color: whitesmoke;

  }

  
  


  */
